{% extends "auctions/layout.html" %}
{% block title %}{{ listing.title }}{% endblock %}

{% block body %}
<!-- if not in watchlist -> URL to add_watchlist TODO  -->
<!-- <a href="add watchlist" class="btn btn-secondary" type="button">Add to watchlist</a> -->
<!-- watchlist -->
{% if message %}
<span style="color:red">{{ message }}</span>
{% endif %}
<!-- Closed listing alert -->
{% if not listing.active %}
<div class="alert alert-warning" role="alert">
    This listing is closed. You can explore the active listings <a href="{% url 'index' %}">here.</a>
</div>
{% endif %}
<h1>{{ listing.title }}</h1>
<img src="{{ listing.img_url }}" alt="{{ listing.title }}" width="200px">
<div class="price-container">
    <h3>Current price: ${{ current_bid.ammount|floatformat:2 }}</h3>
    <h5>{{ total_bids }} bid(s) placed.</h5>
    <!-- This part checks if the listing is active, and if the user is the author or the highest bidder -->
    <!-- The listing is active -->
    {% if listing.active %}
    <!-- User is author -->
    {% if request.user == listing.author%}
    <a href="{% url 'close' listing.id %}" class="btn btn-danger" type="button">Close listing</a>
    {% if current_bid.user == listing.author %}
    <span style="color:red">No bids.</span>
    {% else %}
    <span style="color:green">The current bid is from {{ current_bid.user.username }}</span>
    {% endif %}
    <!-- User is not the author -->
    {% else %}
    {% if current_bid.user == request.user %}
    <span style="color:green">You are the current bid!</span>
    {% else %}
    <span style="color:red">Your bid is behind the current!</span>
    {% endif %}
    <form action="{% url 'listing' listing.id %}" method="POST">
        {% csrf_token %}
        <input name="bid_ammount" type="number" min="{{ current_bid.ammount }}">
        <input class="btn btn-success" type="submit" value="Place bid" name="add_bid">
    </form>
    {% endif %}
    <!-- Listing is closed-->
    {% else %}
    <!-- User is author -->
    {% if request.user == listing.author%}
    {% if current_bid.user == request.user %}
    <span style="color:red">There were no bids for this listing.</span>
    {% else %}
    <span style="color:green">The user {{ current_bid.user.username }} has won this listing!</span>
    {% endif %}
    <!-- User is not the author -->
    {% else %}
    {% if current_bid.user == request.user %}
    <span style="color:green">You are the winner of this listing!</span>
    {% endif %}
    {% endif %}
    {% endif %} <!--/Listing is active-->

</div>
<div class="listing-description">
    {{ listing.description }}
</div>
<h3>Comments</h3>
<!-- Comment form -->
{% if user.is_authenticated and listing.active %}
<form action="{% url 'listing' listing.id %}" method="POST">
    {% csrf_token %}
    <input name="comment_body" type="textarea" placeholder="Comment...">
    <input type="submit" name="send_comment" class="button btn-secondary" value="Send">
</form>
{% endif %}
<div class="comment-container">
    {% for comment in comments %}
    <p>
        {% if request.user == listing.author %}
        <span class="badge rounded-pill text-bg-info">Author</span>
        {% endif %}
        <strong>{{ comment.author.username }} </strong><em>at {{ comment.created_at }}</em>
    </p>
    <p>{{ comment.body }}</p>
    {% empty %}
    There are no comments yet.
    {% endfor %}
</div>
{% endblock %}