{% extends "auctions/layout.html" %}
{% block title %}{{ listing.title }}{% endblock %}

{% block body %}
<!-- if not in watchlist -> URL to add_watchlist TODO  -->
<!-- <a href="add watchlist" class="btn btn-secondary" type="button">Add to watchlist</a> -->
<!-- watchlist -->
{% if message %}
<span style="color:red">{{ message }}</span>
{% endif %}
<h1>{{ listing.title }}</h1>
{% if listing.img_url is not "" %}
<img src="{{ listing.img_url }}" alt="{{ listing.title }}" width="200px">
{% else %}
<h5>No image available.</h5>
{% endif %}
<div class="price-container">
    <h3>Current price: ${{ current_bid.ammount|floatformat:2 }}</h3>
    <h5>{{ total_bids }} bid(s) placed.</h5>
    {% if request.user == listing.author %}
    <a href="close listing" class="btn btn-danger" type="button">Close listing</a>
    {% else %}
    {% if has_user_bid %}
    {% if current_bid.user == request.user %}
    <span style="color:green">You are the current bid!</span>
    {% else %}
    <span style="color:red">Your bid is behind the current!</span>
    {% endif %}
    {% endif %}
    <form action="{% url 'listing' listing.id %}" method="POST">
        {% csrf_token %}
        <input name="bid_ammount" type="number" min="{{ current_bid.ammount }}">
        <input class="btn btn-success" type="submit" value="Place bid">
    </form>
    {% endif %}
</div>
<div class="listing-description">
    {{ listing.description }}
</div>
{% endblock %}